
[submodule "cgap-pipeline-utils"]
	path = cgap-pipeline-utils
	url = https://github.com/dbmi-bgm/cgap-pipeline-utils
[submodule "cgap-pipeline-upstream-sentieon"]
	path = cgap-pipeline-upstream-sentieon
	url = https://github.com/dbmi-bgm/cgap-pipeline-upstream-sentieon
[submodule "cgap-pipeline-SV-germline"]
	path = cgap-pipeline-SV-germline
	url = https://github.com/dbmi-bgm/cgap-pipeline-SV-germline
[submodule "cgap-pipeline-base"]
	path = cgap-pipeline-base
	url = https://github.com/dbmi-bgm/cgap-pipeline-base
