
[submodule "cgap-pipeline-utils"]
	path = cgap-pipeline-utils
	url = https://github.com/dbmi-bgm/cgap-pipeline-utils
[submodule "cgap-pipeline-upstream-sentieon"]
	path = cgap-pipeline-upstream-sentieon
	url = https://github.com/dbmi-bgm/cgap-pipeline-upstream-sentieon
[submodule "cgap-pipeline-SV-germline"]
	path = cgap-pipeline-SV-germline
	url = https://github.com/dbmi-bgm/cgap-pipeline-SV-germline
[submodule "cgap-pipeline-base"]
	path = cgap-pipeline-base
	url = https://github.com/dbmi-bgm/cgap-pipeline-base
[submodule "cgap-pipeline-upstream-GATK"]
	path = cgap-pipeline-upstream-GATK
	url = https://github.com/dbmi-bgm/cgap-pipeline-upstream-GATK
[submodule "cgap-pipeline-SNV-germline"]
	path = cgap-pipeline-SNV-germline
	url = https://github.com/dbmi-bgm/cgap-pipeline-SNV-germline
[submodule "cgap-pipeline-SNV-somatic"]
	path = cgap-pipeline-SNV-somatic
	url = https://github.com/dbmi-bgm/cgap-pipeline-SNV-somatic
[submodule "cgap-pipeline-somatic-sentieon"]
	path = cgap-pipeline-somatic-sentieon
	url = https://github.com/dbmi-bgm/cgap-pipeline-somatic-sentieon
[submodule "cgap-pipeline-SV-somatic"]
	path = cgap-pipeline-SV-somatic
	url = https://github.com/dbmi-bgm/cgap-pipeline-SV-somatic
